
html body {
  /*margin: 3vw;*/
  /*border-top: 5vw;*/
  height: 100%;
  width: 90%;
  background-color: #261b16bf;
}

#navbar {
  overflow: hidden;
  padding: 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 1vw;
  z-index: 99;
}
#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: inherit;
    font-size: 17px;
    line-height: 20px;
    border-radius: 4px;
    font-weight: 900;
    letter-spacing: 0.200em;
    line-height: 23px;
}
#navbar a:hover {
  color: #a3a3b7;
  font-size: 20px;
 
}
.active {
    background-color: #bdcace9e;
    color: white;
}
#navbar-left {
  float: left;
  color: black;

}
.header{
  width: 100%;
  height: 900px;}
.header h1{
  margin-top: 100px;
  color: #FFFFFF;
}
.about-div{
  height:73vw;
  width: 105%;
  padding-bottom: 2vw;
  padding-top: 5vw;
  border-radius: 20px;
}
.about-tex{
  font-family: Lexend Deca;
  color: #f1eff4;
  margin-top: 2vw;
  font-size: 20px
}
.photo{
  float: right;
  margin-left: 40%;
  width: 150px;
  height: 180px;
  margin-top: 10PX;
  border-radius: 25px 25px;
  background-repeat: no-repeat;
}
.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:20px;
}
.about-me{
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  height: 100%

}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.edu-ses{
  padding-top: 5vw;
  padding-bottom: 10vw;
}
.container{
  width: 100%;
  background-color: #9b9dbb47;
  border-radius: 90px;
}
.education{
  font-family: Lexend Deca;
  font-weight: 500;
  padding-bottom: 5px;
  color: white;
}
.edu{
  margin-top: 10px;
  background-color: #707480b8;
  border-radius: 20px;
  padding: 40px;
  font-size: 16px;
  margin-bottom: 40px;
  margin-left: 18vw;
  height: 32vw;
  width:58%;

}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #FFFFFF;
}
.so-li{
  padding: 1px;
}
.icon{
}
th {
  
  padding: 2vw; 
  color: #FFFFFF;
}
tr {
  
  padding: 8vw; 
  color: #FFFFFF;
}
.he1{
  padding-top: 150px;
  
}
.he1 h1{
  font-size: 60px;
}
.foo1{
  padding: 3vw;
  color:#FFFFFF;
}
.wi{
  width: 80%;
  padding-left: 17vw;
}
 .foo {
  display: block;
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-top: 10vw;
  color: #FFFFFF;
  width: 105%
}
.nh1{
  padding-left: 115px;
}
.exp-tex{
  font-family: Lexend Deca;
  color: #f1eff4;
  margin-top: 2vw;
  margin-left: 10vw;
}
.expabout-div{
  height:25vw;
  width: 100%;
  background-color: #0818351a;
  padding-top: 5vw;
  padding-bottom: 7.5vw;
  margin-left: 2vw;
  border-radius: 40px;
  margin-top: 14vw;

}
.cols1{
  background-color: #3a3c48f0;
  height: 65%;
  padding-top: 2vw;
  border-radius: 30px;
}
.wi2{
  height:80%;
  padding-top: 1vw;
}
.foo3{
width: 15vw;
margin-left: 38vw;
padding: 1px;
border-radius: 110px;
background-color: #4de30f;
}
.fatex{
  font-size:2vw; 
}
